{% extends "layout.html" %}


{% block content %}
    
<div class="container-fluid">
    <div class="row d-flex justify-content-center pt-5 text-center">
        <div class="col-2">

            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group py-4">
                    <h5>Profile picture</h5>

                    <div class="custom-file pt-4">
                        {{ formImage.image }}
                    </div>

                </div>

                 <div class="form-group pt-4">
                     <input class="btn btn-primary" type="submit" value="Update picture">
                 </div>
            </form>

            <form action="." method="post">
                {% csrf_token %}
                <h5>Bio</h5>

                <div class="form-group py-4">
                    {{ formBio.bio }}
                </div>


            </form>

            <form action="." method="POST">
                {% csrf_token %}

                <div class="form-group py-4">
                    <h5>Password</h5>

                    <div class="custom-file pt-4">
                        {{ formPassword.old_password }}
                    </div>

                    <div class="custom-file pt-4">
                        {{ formPassword.new_password1 }}
                    </div>

                    <div class="custom-file pt-4">
                        {{ formPassword.new_password2 }}
                    </div>

                </div>

                 <div class="form-group pt-4">
                     <input class="btn btn-primary" type="submit" value="Change password">
                 </div>
            </form>

            

        </div>

    </div>
</div>
{% endblock %}