{% extends "layout2.html" %}

{% block content %}
<div class="container m-auto">
  <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

<div class="space-y-5 flex-shrink-0 lg:w-7/12">
{% for post in posts %}
  
    <a href="/post">
      <div class="card w-1/2 bg-base-100 shadow-2xl mx-auto mb-4">
        <img src="{{ post.image.url }}"/>
        <div class="card-body">
          <small>{{post.date}}</small>
          <p>{{post.caption}}</p>
          <div class="card-actions justify-end">
            <button class="btn btn-outline btn-error"><i class="fa-regular fa-heart fa-lg"></i></button>
          </div>
        </div>
      </div>
    </a>
  
  {% endfor %}
</div>
</div>
</div>
{% endblock %}
