{% extends "layout.html" %}
{% block content %}
<div>
    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
        <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Upload Pics </h1>
    
        <div>
            <style>
                h5{
                    color: red;
                }
            </style>
            <h5>{{ messages }}</h5>
    
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-black text-sm font-bold mb-2" for="caption">Caption</label>
                <input class="border border-gray-400 p-2 w-full" type="text" name="caption" id="caption">
            </div>

            <div class="mb-4">
                <label class="block text-black text-sm font-bold mb-2" for="image">Image</label>
                <input class="border border-gray-400 p-2 w-full" type="file" name="image" id="image">
            </div>

            <div class="mb-4">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded to-red-400 w-full" type="submit">Upload</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}