{% extends "layout.html" %}

{% block content %}
<div class="flex">
<p class="text-4xl">Card Title</p>
{% if like_user == 0 %}
    <form action="."  method="post">
        {% csrf_token %}
        <!-- <button class="btn btn-outline btn-error"><i class="fa-regular fa-heart fa-lg"></i></button> -->
        <div class="form-control">
            {{ form_Like.like }}
        </div>
    </form>
{% elif like_user == 1 %}
<form action="."  method="post">
    {% csrf_token %}
    <!-- <button class="btn btn-outline btn-error"><i class="fa-regular fa-heart fa-lg"></i></button> -->
    <div class="form-control">
        {{ form_Like_delete.Unlike }}
    </div>
</form>
{% else %}
<p>Erro</p>
{% endif %}

</div>
<p class="font-extralight">05-10-2022</p>
<img class="w-3/4 mx-auto" src="{{ post.image.url }}" />

<span class="text-3xl mt-5">Comentários</span><span class="font-extralight">{{ num_likes }}</span>
<div class="overflow-x-auto w-full">
    <div class="w-full flex flex-col">
        <form action="." method="POST">
            {% csrf_token %}
            <div class="form-control">
                {{ form_comment.comment }}
            </div>
        </form>



        {% for comment in comments %}
        <div class="flex space-x-3 items-center space-y-5">
            <div class="mask mask-squircle w-32">
                <img src="https://placeimg.com/400/225/arch" alt="Profile Picture" />
            </div>
            <div class="w-28">
                <div class="font-bold">Hart Hagerty</div>
                <div class="text-sm opacity-50">20min ago</div>
            </div>
            <p class="w-full text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                qui officia deserunt mollit anim id est laborum.</p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
