{% extends "layout.html" %}

{% block content %}
<div class="flex">
<p class="text-4xl">{{post.caption}}</p>
{% if like_user == 0 %}
    <form action="."  method="post">
        {% csrf_token %}
        <div class="form-control">
            {{ form_Like.like }}
        </div>
    </form>
{% elif like_user == 1 %}
<form action="."  method="post">
    {% csrf_token %}
    <div class="form-control">
        {{ form_Like_delete.Unlike }}
    </div>
</form>
{% else %}
{% endif %}

</div>
<p class="font-extralight">{{post.date}}</p>
<img class="w-3/4 mx-auto" src="{{ post.image.url }}" />

<span class="text-3xl mt-5">Comentários</span><span class="font-extralight">( {{num_comments}} )</span>
<div class="overflow-x-auto w-full">
    <form action="." method="POST">
        {% csrf_token %}
        <div class="form-control">
            {{ form_comment.comment }}
        </div>
    </form>
    <div class="w-full flex flex-col">
        {% for comment in comments %}
        <div class="flex space-x-3 items-center space-y-5">
            <div class="mask mask-squircle w-32">
                <img src="{{comment.user.profile_pic.url }}" alt="Profile Picture" />
            </div>
            <div class="w-28">
                <div class="font-bold">{{comment.user.username}}</div>
                <div class="text-sm opacity-50">{{comment.date}}</div>
                <div class="text-sm opacity-50">{{comment.id}}</div>
            </div>
            <p class="w-full text-justify">{{comment.comment}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
