{% extends "layout.html" %}

{% block content %}
    <div class="container mx-auto">
        <div class="flex flex-row justify-between items-center pt-5">
            <div>
                <p class="text-4xl font-bold">{{ post.caption }}</p>
                <p class="font-extralight">{{ post.date }}</p>
            </div>
            <div class="flex flex-wrap">
                {% if exist_like %}
                    <div class="card-actions justify-end">
                        <button class="btn btn-outline btn-error btn-like btn-lg" value="{{ post.id }}" id="btn_{{ post.id }}">
                            {% if user in post.likes.all %}
                                <i class="fa-solid fa-heart fa-lg"></i>
                            {% else %}
                                <i class="fa-regular fa-heart fa-lg"></i>
                            {% endif %}
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
        <img class="w-full xl:w-1/2 mx-auto" src="{{ post.image.url }}" alt="post"/>
        <div class="mb-3">
            <span class="text-3xl mt-5 pr-2">Comentários</span>
            <span class="font-extralight">( {{ post.comment_count }} )</span>
        </div>

        <div class="overflow-x-auto xl:w-1/2 w-full">
            {% if user %}
                <form action="." method="POST">
                    {% csrf_token %}
                    <div class="form-control">
                        {{ form_comment.comment }}
                    </div>
                </form>
            {% endif %}
            <div class="w-full flex flex-col">
                {% for comment in comments %}
                    <div class="flex space-x-3 items-center space-y-5">
                        <div class="mask mask-squircle w-32">
                            <img src="{{ comment.user.profile_pic.url }}" alt="Profile Picture"/>
                        </div>
                        <div class="w-28">
                            <div class="font-bold">{{ comment.user.username }}</div>
                            <div class="text-sm opacity-50">{{ comment.date }}</div>
                            <div class="text-sm opacity-50">{{ comment.id }}</div>
                        </div>
                        <p class="w-full text-justify">{{ comment.comment }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        $(document).on('click', '.btn-like', function (e) {
            e.preventDefault();
            var post_id = $(this).val();

            $.ajax({
                url: '{% url "like_post" %}',
                type: 'POST',
                data: {
                    'user_id': {{ user.id }},
                    'post_id': post_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'post'
                },
                success: function (json) {
                    if (json['type'] === 'like') {
                        document.getElementById("btn_" + post_id).innerHTML = '<i class="fa-solid fa-heart fa-lg"></i>';
                        document.getElementById("count_" + post_id).innerHTML = json['result'];
                    } else {
                        document.getElementById("btn_" + post_id).innerHTML = '<i class="fa-regular fa-heart fa-lg"></i>';
                        document.getElementById("count_" + post_id).innerHTML = json['result'];
                    }
                    console.log(json)
                }
            });
        });
    </script>
{% endblock %}
