{% extends template %}

{% block content %}



{% for post in posts %}
  
    <a href="/post/{{ post.id }}">
      <div class="card w-1/2 bg-base-100 shadow-2xl mx-auto mb-4">
        <img src="{{ post.image.url }}"/>
        <div class="card-body">
          <h2 class="card-title">{{post.caption}}</h2>
          <small>{{post.date}}</small>
          <small>Comentários: {{ post.comments.count }}</small>
          <small>likes: {{ post.likes.count }}</small>
          <div class="card-actions justify-end">
            <button class="btn btn-outline btn-error"><i class="fa-regular fa-heart fa-lg"></i></button>
          </div>
        </div>
      </div>
    </a>
  
  {% endfor %}

{% endblock %}
