{% extends "layout.html" %}

{% block content %}
<div>
    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6">
        <h1 class="text-5xl font-bold mb-6 tracking-wider">Sign In</h1>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold">What is your name?</span>
                </label>
                <!-- <input type="text" placeholder="Username" class="input input-bordered w-full" type="text"
                    name="username" id="username" /> -->
                    {{ formSignup.username }}
                    
            </div>

            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold">What is your email address?</span>
                </label>
                <!-- <input type="text" placeholder="Email" class="input input-bordered w-full" type="email" name="email"
                    id="email" /> -->
                    {{ formSignup.email }}
            </div>


            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold">What is your password?</span>
                </label>
                <!-- <input placeholder="Password" class="input input-bordered w-full" type="password" name="password"
                    id="password" /> -->
                    {{ formSignup.password }}
            </div>

            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold">Confirm Password</span>
                </label>
                <!-- <input placeholder="Password confirmation" class="input input-bordered w-full" type="password"
                    name="confirmation" id="password2" /> -->
                    {{ formSignup.confirmation }}
            </div>


            <div class="form-control w-full">
                <label class="label">
                    <span class="label-text font-bold">What is your avatar?</span>
                </label>
                <!-- <input type="file" class="file-input file-input-bordered file-input-primary w-full" name="photo"
                    id="photo" /> -->
                    {{ formSignup.photo }}
            </div>

            <div class="mb-4 mt-4">
                <button class="btn btn-active btn-primary btn-wide w-full" type="submit">Sign in</button>
            </div>
            
            <div class="text-center mt-5 space-x-2">
                <p class="text-base"> Do you have an account? <a class="text-primary font-bold"
                        href="{% url 'login' %}"> Login </a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}
